@import url('http://fonts.cdnfonts.com/css/amazon-ember');
/* 
font-family: 'Amazon Ember', sans-serif;
font-family: 'Amazon Ember Cd RC', sans-serif;
font-family: 'Amazon Ember Display', sans-serif;
font-family: 'Amazon Ember Duospace', sans-serif;
font-family: 'Amazon Ember Mono', sans-serif;
font-family: 'Amazon Ember V2', sans-serif;
*/


/* images: */
/* 
nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png:
https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png


*/


:root{
    /* colors: */
    --dark_blue: #131921;
    --gray: #dadada;
    --orange: #febd69;
    --white: #ffff;
}