#first-nav{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#nav-log-sprits,
#nav-search,
#icp-nav-flag,
#nav-orders,
#third-nav ul li:nth-last-child(5),
#third-nav ul li:nth-last-child(6),
#second-nav{
    display: none;
}

#nav-search-mobile{
    display: grid;
    grid-template-columns: 40px auto 40px;
}